---
import Container from "@/components/ui/Container";
import Layout from "../../layouts/Layout.astro";
import { constSejarah } from "@/constants/sejarah";
import BgPotrait from "public/background_potrait.webp";
import { Image } from "astro:assets";
import SejarahAccordion from "src/components/elements/SejarahAccordion";
import type { BreadcrumbURLs } from "@/components/elements/GenerateBreadcrumb";
import GenerateBreadcrumb from "@/components/elements/GenerateBreadcrumb";
const breadcrumbURLs: BreadcrumbURLs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Visi Misi & Tujuan",
    href: "/profile/visi-misi-dan-tujuan",
  },
];
---

<Layout title="Fisika Komputasi | Visi Misi & Tujuan">
  <Container>
    <div class="md:grid-cols-2 md:gap-x-4 grid">
      <Image
        src={BgPotrait}
        alt={"Fisika Komputasi"}
        class="rounded-xl border hidden lg:block"
        transition:name="bg"
      />
      <div class="space-y-4" transition:name="hero-description">
        <h1 class="text-3xl font-bold relative w-fit">Visi Misi & Tujuan</h1>
        <GenerateBreadcrumb urls={breadcrumbURLs} />
        <!-- <Separator client:load /> -->
        <p class="text-muted-foreground">{constSejarah.description[1]}</p>
        <Image
          alt={"Fisika Komputasi"}
          src={BgPotrait}
          format="avif"
          class="rounded-xl border lg:hidden"
          transition:name="bg"
        />

        <p class="text-muted-foreground">{constSejarah.description[2]}</p>
        <p class="text-muted-foreground">{constSejarah.description[3]}</p>
        <SejarahAccordion client:load />
      </div>
    </div>
  </Container>
</Layout>
